[submodule "public"]
	path = public
	url = https://github.com/yoyoxie0729/yoyoxie0729.github.io.git
	branch = main
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
